* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff;
}

h1{
    margin-top: 1em; 
    text-align: center;
    border-bottom-style: inset; /* Faz uma linha em baixo do h1*/
    border-color: white;
}

#conteudo {
    background-color: rgb(29, 68, 153);
    width: 850px;
    margin: auto;
    min-height: 700px;
    box-shadow: black 3px 3px 0 0;
}

#formulario {
    width: 200px;
    float: left;
    margin: 10px 0;
    padding: 20px;
    font: bold;
   
}

#formulario #form input {
    margin-bottom: 10px;
    width: 100%;
    height: 1.8em;
}

#formulario #form input:hover {
    background-color: black;
    color: #fff;
    cursor: pointer;
    border-bottom: red solid 2px;
}

#formulario #form button {
    padding: 1rem; 
    font-size: 1rem;
    outline: none;
    border: black solid 1px;
    border-radius: 5px;
    margin-top: 1rem; /*Dá um espaço entre o botão e texto acima*/
    background-color: yellow;
    color: black;
    font-weight: bold;
    cursor: pointer; /*Quando passa o mouse em cima muda a seta para uma mãozinha*/
    transition: .3s; 
}

#formulario #form button:hover {
    background-color: black;
    color: #fff;
    border-bottom: red solid 2px;
    cursor: pointer;
}

#tab {
    float: right;
    width: auto;
}

#tab #tabela {
    border: black solid 2px;
    margin: 20px 10px 0 0;
    text-align: center;
    width: 600px;
}

tabela {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px black;
    text-align: left;
    padding: 8px;
}



tr:hover {
    background-color: black;
    color: #fff;
    cursor: pointer;
}

/* ******estilização da pagina vagas***** */
#conteudo2 {
    background-color: rgb(29, 68, 153);
    width: 850px;
    margin: auto;
    min-height: 650px;
    padding: 20px;
    box-shadow: black 3px 3px 0 0;
    clear: both;
}


#conteudo2 .box {
    display: inline-block;
    width: 260px;
    color: black;
    margin: 20px 10px; /* Espaçamento entre as divs */
}

#conteudo2 #container {
    white-space: nowrap; /* Evita que as divs quebrem linha */
}

#conteudo2 .box ul li {
    list-style-type: none;
    text-align: center;
    padding: 13px 5px;
    margin-bottom: 5px;
   border: black solid 2px;
   background-color: rgb(51, 226, 28);
   font-weight: bold;
}

a button {
    padding: 1rem; 
    font-size: 1rem;
    outline: none;
    border: black solid 1px;
    border-radius: 5px;
    margin-top: 1rem; /*Dá um espaço entre o botão e texto acima*/
    background-color: yellow;
    color: black;
    font-weight: bold;
    cursor: pointer; /*Quando passa o mouse em cima muda a seta para uma mãozinha*/
    transition: .3s; 
}

a button:hover {
    background-color: black;
    color: #fff;
    border-bottom: red solid 2px;
    cursor: pointer;
}

#conteudo2 #form2 button {
    padding: 1rem; 
    font-size: 1rem;
    outline: none;
    border: black solid 1px;
    border-radius: 5px;
    margin-top: 1rem; /*Dá um espaço entre o botão e texto acima*/
    margin-left: auto;
    background-color: yellow;
    color: black;
    font-weight: bold;
    cursor: pointer; /*Quando passa o mouse em cima muda a seta para uma mãozinha*/
    transition: .3s; 
}

#conteudo2 #form2 button:hover {
    background-color: black;
    color: #fff;
    border-bottom: red solid 2px;
    cursor: pointer;
}

#conteudo2 .container #menu {
    float: inline-start;
}
